*{
    padding: 0;
    margin: 0;
}

.topnav{
    display: flex;
    list-style-type: none;
    background-color: black;
    margin: 0px 20px 15px; 20px;
    padding: 15px;
    font-size: 20px;
}

.topnav li{
    margin-right: 20px;
    margin-left: 20x;
    color: white;
}
.container{
    display: flex;
    
}
h1{
    border-bottom: 2px solid black;
    border-left: 5px solid black;
}

.submit{
    border:1px solid lightgray;
    padding: 4px 10px;
    color:white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

main{
    width: 70%;
    margin: 20px;
}

.box{
    border: 3px solid #ebebeb;
    background-color: #fbfbfb;
    margin: 20px;
    padding: 20px 15px 20px 15px;
}

aside{
    width: 30%;
    margin: 20px;
    text-decoration: none;
    
}
.submenu li{
    list-style-type: none;
}

.red{
    border-left: red solid 5px;
}

.mokuzi{
    border-bottom: 2px solid #ebebeb;
}

.line{
    border-bottom: 2px dotted gray;
    margin-bottom: 20px;
    margin-top: 20px;
}

.kiji{
    border: 3px solid #ebebeb;
    background-color: #fbfbfb;
    margin: 20px;
    padding: 20px 15px 5px 15px;
}


footer{
    clear: left;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0; 
    font-size: 20px;
}